{% extends 'base.html.twig' %}

{% block title %}Add Program{% endblock %}

{% block body %}
    <h1>Add Program</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Add program" />
    {{ form_end(form) }}
{% endblock %}
