{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <h1>Wild-series</h1>

    <h2 style="font-weight: normal; text-align: center;">New program <strong>{{ program.title }}</strong> created on <strong>Wild-series</strong></h2>

    <p>Hello, the new program {{ program.title }} has been created on Wild Series</p>

    <h3>Summary</h3>

    <p>{{ program.summary }}</p>
{% endblock %}
