$theme-colors: (
    "primary": #DFDFFF,
    "secondary": #9F9FCF,
);

@import "~bootstrap/scss/bootstrap";

$fontsize: 1em;

body {
    background: white;
}

nav {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.MEDIUM_text {
    font-size: $fontsize * 1.5;
}
