$theme-colors: (
    "primary": #DFDFFF,
    "secondary": #9F9FCF,
);

@import "~bootstrap/scss/bootstrap";

body {
    background: white;
}

nav {
    margin-bottom: 20px;
}

h1 {
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.25);
    padding: 30px;
    border-radius: 20px;
    margin: auto;
    color: white;
    text-align: center;
    display: block;
    margin: auto;
    width: max-content;
}

